* {
    margin: 0;
    padding: 0;
    font-family: 'Economica', sans-serif;
    font-size: 30px;
    font-weight: 400;
    color: var(--text-color);
}
body {
    background-image: url('../img/wall-e.jpg');
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-position-x: center;
    overflow: hidden;
    overflow-y: scroll;
}
body::-webkit-scrollbar {
    display: none;
}
h1 {
    font-size: 70px;
}
h2 {
    font-size: 40px;
    font-family: 'Sansation', sans-serif;
    padding: 20px;
}
header, footer {
    text-align: center;
    background: linear-gradient(black,rgba(0, 0, 0, 0));
    height: auto;
}
footer {
    height: 100px;
}
a:link {
    text-decoration: none;
    cursor: pointer;
}
header h1 a{
    font-size: 70px; 
    font-family: 'Sansation', sans-serif; 
    font-style: italic; 
    font-weight: 200;
}
header h1{
    width: 100%;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 20px; 
}
.menu{
    display: flex; 
    align-items: center; 
    justify-content: space-around; 
    width: 850px; 
    min-width: 400px; 
    height: 60px;
    background-color: #0000;
    color: var(--text-color);
    transition: 0.3s;  
}
.menu a {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
}
header button{
    border: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
    background-color: #0000;
    transition: 0.3s;  
}
header button:hover {
    background-color: var(--text-color);
    color: var(--tertiary-color);
}
.select {
    background: linear-gradient(to bottom, var(--text-color) 1px, #0000 1px);
}

.carrossel {
    background: linear-gradient(white 25%, transparent 90%);
    height: 700px;
}
.carrossel h2 {
    color: var(--tertiary-color);
    font-weight: 800;
}
.sub_carro {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 35vw;
}
.cartaz {
    display: flex;
    justify-content: center;
    overflow: hidden;
    border-radius: 5px;
    height: 90%;
    width: 35vw;
    margin: 7px;
    background-color: blue;
    box-shadow: 5px 2px 5px var(--tertiary-color);
    border: solid 0px white;
    transition: 0.3s;
}
.cartaz img {
    height: 100%;
}
.cartaz:hover {
    scale: 1.05;
    border: solid 3px white;
    box-shadow: 5px 2px 15px #0000;
}
.opcao_secao {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    height: 370px;
}
.opcao_secao div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-position: center 10%;
    background-size: 800px;
    transition: 0.3s;
}
.opcao_secao div:hover {
    background-size: 750px;
}
.opcao_secao div a {
    height: 100%; 
    width: 100%;
}
.opcao_secao div a div {
    height: 100%; 
    width: 100%; 
    mix-blend-mode: color;
}
.opcao_secao div a div h2 {
    font-family: 'Economica', sans-serif;
    font-weight: 800;
    font-size: 60px;
}
.opcao_list {
    background-image: url('../img/list_img.jpg');
}
.opcao_list a div{
    background-color: var(--secondary-color);
}
.opcao_list a div h2{
    color: var(--tertiary-color);  
}
.opcao_arm {
    background-image: url('../img/arm_img.jpg');
}
.opcao_arm a div{
    background-color: var(--primary-color); 
}

.sobre {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
}
.wev {
    background-image: url('../img/sobre/wev.png');
    background-position: center;
}
.vin {
    background-image: url('../img/sobre/vini.png');
    background-position: calc(50% - 70px) center;
}
.wev , .vin {
    border-radius: 30px;
    width: 30%;
    min-width: 300px;
}
.sobre div {    
    width: auto;
    margin-block: 50px;
    margin-top: 100px;
}
.sobre div div {
    height: 100%;
}
.sobre div div, div h1, p {
    padding: 25px;
    min-width: 550px;
}
.sobre div a {
    height: 100%;
    width: 100%;
}
.sobre div a img {
    border-radius: 50%;
    height: 35vw;    
    border: solid white 0px;
    transition: 0.3s;
}
.nome{
    max-width: 300px;
    min-width: 0px;
}
.sobre div a img:hover {
    transform: scale(1.05);
    border: solid white 3px;
}
.lista {
    width: 70%;
    margin-block: 2px;
    background-color: var(--tertiary-color);
    text-align: center;
}
.item {
    height: 100px;
    background: linear-gradient(to bottom, var(--text-color) 1px, #0000 1px, #0000 99px, var(--text-color) 100px);
}