@import url('https://fonts.googleapis.com/css2?family=Economica:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.cdnfonts.com/css/sansation');

:root {
    --primary-color: #151875;
    --secondary-color: #AE5E53;
    --tertiary-color: #171423;
    --text-color: #D6E1F5;
    --invalid-color: #d6e1f58a;
}
.armazem {
    --primary-color: #151875;
    --secondary-color: #151875;
    --tertiary-color: #AE5E53;
    --text-color: #171423;
    --invalid-color:#0b0c35;
}
.kung-fu-panda {
    --tertiary-color: #311c10;
    --text-color: #fdfbeb;
    --invalid-color: #90856e;
}
.carros {
    --tertiary-color: #490404;
    --text-color: #D6E1F5;
    --invalid-color: #031428;
}
.deadpool {
    --tertiary-color: #ce152d;
    --text-color: #ffffff;
    --invalid-color: #959398; 
}
.homem-aranha {
    --tertiary-color: #1c0e48;
    --text-color: #fcfbf3;
    --invalid-color: #fcfbf37c; 
}  
.homem-de-ferro {
    --tertiary-color: #5e1411;
    --text-color: #fff1a9;
    --invalid-color: #fff1a980; 
}

.speed-racer {
    --tertiary-color: #f3f3f5;
    --text-color: #ff2d2e;
    --invalid-color: #837d90; 
}
.toy-story {
    --tertiary-color: #c62036;
    --text-color: #fdee5c;
    --invalid-color: #17509a;
}
.de-volta-para-o-futuro {
    --tertiary-color: #0d1c57;
    --text-color: #f1c224;
    --invalid-color: #dd4b21; 
}
.gigantes-de-aco {
    --tertiary-color: #100f14;
    --text-color: #e8f2f8;
    --invalid-color: #99e4e8; 
}
.herbie {
    --tertiary-color: #f5f1f2;
    --text-color: #223f89;
    --invalid-color: #e83e23; 
}