@import url('https://fonts.googleapis.com/css2?family=Economica:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.cdnfonts.com/css/sansation');

:root {
    --primary-color: #151875;
    --secondary-color: #AE5E53;
    --tertiary-color: #171423;
    --text-color: #D6E1F5;
    --invalid-color: #d6e1f58a;
}
.armazem {
    --primary-color: #151875;
    --secondary-color: #151875;
    --tertiary-color: #AE5E53;
    --text-color: #171423;
    --invalid-color:#0b0c35;
}
.kung-fu-panda {
    --tertiary-color: #311c10;
    --text-color: #fdfbeb;
    --invalid-color: #90856e;
}
.carros {
    --tertiary-color: #490404;
    --text-color: #D6E1F5;
    --invalid-color: #031428;
}
.deadpool {
    --tertiary-color: #ce152d;
    --text-color: #ffffff;
    --invalid-color: #959398; 
}
.homem-aranha {
    --tertiary-color: #1c0e48;
    --text-color: #fcfbf3;
    --invalid-color: #fcfbf37c; 
}  
.homem-de-ferro {
    --tertiary-color: #5e1411;
    --text-color: #fff1a9;
    --invalid-color: #fff1a980; 
}